intelligent-text-extraction/test/images/00070353.png
intelligent-text-extraction/test/images/01073843.png
intelligent-text-extraction/test/images/0001123541.png
intelligent-text-extraction/test/images/01191071_1072.png
intelligent-text-extraction/test/images/0001485288.png
intelligent-text-extraction/test/images/11508234.png
intelligent-text-extraction/test/images/0011838621.png
intelligent-text-extraction/test/images/0011974919.png
intelligent-text-extraction/test/images/12052385.png
intelligent-text-extraction/test/images/12603270.png
intelligent-text-extraction/test/images/0012947358.png
intelligent-text-extraction/test/images/0060007216.png
intelligent-text-extraction/test/images/0060024314.png
intelligent-text-extraction/test/images/0060080406.png
intelligent-text-extraction/test/images/0060094595.png
intelligent-text-extraction/test/images/71601299.png
intelligent-text-extraction/test/images/80718412_8413.png
intelligent-text-extraction/test/images/81619486_9488.png
intelligent-text-extraction/test/images/89817999_8002.png
intelligent-text-extraction/test/images/91315069_91315070.png
intelligent-text-extraction/test/images/91355841.png
intelligent-text-extraction/test/images/91356315.png
intelligent-text-extraction/test/images/91361993.png
intelligent-text-extraction/test/images/91391286.png
intelligent-text-extraction/test/images/91581919.png
intelligent-text-extraction/test/images/91903177.png
intelligent-text-extraction/test/images/92081358_1359.png
intelligent-text-extraction/test/images/92327794.png
intelligent-text-extraction/test/images/92433599_92433601.png
intelligent-text-extraction/test/images/92657311_7313.png
intelligent-text-extraction/train/annotations/00040534.json
intelligent-text-extraction/train/annotations/00093726.json
intelligent-text-extraction/train/annotations/00283813.json
intelligent-text-extraction/train/annotations/660978.json
intelligent-text-extraction/train/annotations/716552.json
intelligent-text-extraction/train/annotations/00836244.json
intelligent-text-extraction/train/annotations/00836816.json
intelligent-text-extraction/train/annotations/00837285.json
intelligent-text-extraction/train/annotations/00838511_00838525.json
intelligent-text-extraction/train/annotations/00851772_1780.json
intelligent-text-extraction/train/annotations/00851879.json
intelligent-text-extraction/train/annotations/00860012_00860014.json
intelligent-text-extraction/train/annotations/00865872.json
intelligent-text-extraction/train/annotations/00866042.json
intelligent-text-extraction/train/annotations/00920222.json
intelligent-text-extraction/train/annotations/00920294.json
intelligent-text-extraction/train/annotations/00922237.json
intelligent-text-extraction/train/annotations/0000971160.json
intelligent-text-extraction/train/annotations/0000989556.json
intelligent-text-extraction/train/annotations/0000990274.json
intelligent-text-extraction/train/annotations/0000999294.json
intelligent-text-extraction/train/annotations/0001118259.json
intelligent-text-extraction/train/annotations/01122115.json
intelligent-text-extraction/train/annotations/0001129658.json
intelligent-text-extraction/train/annotations/01150773_01150774.json
intelligent-text-extraction/train/annotations/01197604.json
intelligent-text-extraction/train/annotations/0001209043.json
intelligent-text-extraction/train/annotations/0001239897.json
intelligent-text-extraction/train/annotations/01408099_01408101.json
intelligent-text-extraction/train/annotations/0001438955.json
intelligent-text-extraction/train/annotations/0001456787.json
intelligent-text-extraction/train/annotations/0001463282.json
intelligent-text-extraction/train/annotations/0001463448.json
intelligent-text-extraction/train/annotations/0001476912.json
intelligent-text-extraction/train/annotations/0001477983.json
intelligent-text-extraction/train/annotations/0011505151.json
intelligent-text-extraction/train/annotations/0011845203.json
intelligent-text-extraction/train/annotations/0011856542.json
intelligent-text-extraction/train/annotations/0011859695.json
intelligent-text-extraction/train/annotations/11875011.json
intelligent-text-extraction/train/annotations/0011899960.json
intelligent-text-extraction/train/annotations/0011906503.json
intelligent-text-extraction/train/annotations/0011973451.json
intelligent-text-extraction/train/annotations/0011976929.json
intelligent-text-extraction/train/annotations/0012178355.json
intelligent-text-extraction/train/annotations/0012199830.json
intelligent-text-extraction/train/annotations/0012529284.json
intelligent-text-extraction/train/annotations/0012529295.json
intelligent-text-extraction/train/annotations/0012602424.json
intelligent-text-extraction/train/annotations/12825369.json
intelligent-text-extraction/train/annotations/13149651.json
intelligent-text-extraction/train/annotations/0013255595.json
intelligent-text-extraction/train/annotations/0030031163.json
intelligent-text-extraction/train/annotations/0030041455.json
intelligent-text-extraction/train/annotations/0060000813.json
intelligent-text-extraction/train/annotations/0060025670.json
intelligent-text-extraction/train/annotations/0060029036.json
intelligent-text-extraction/train/annotations/0060036622.json
intelligent-text-extraction/train/annotations/0060068489.json
intelligent-text-extraction/train/annotations/0060077689.json
intelligent-text-extraction/train/annotations/0060091229.json
intelligent-text-extraction/train/annotations/0060136394.json
intelligent-text-extraction/train/annotations/0060165115.json
intelligent-text-extraction/train/annotations/0060173256.json
intelligent-text-extraction/train/annotations/0060207528.json
intelligent-text-extraction/train/annotations/0060214859.json
intelligent-text-extraction/train/annotations/0060255888.json
intelligent-text-extraction/train/annotations/0060262650.json
intelligent-text-extraction/train/annotations/0060270727.json
intelligent-text-extraction/train/annotations/0060302201.json
intelligent-text-extraction/train/annotations/0060308251.json
intelligent-text-extraction/train/annotations/0060308461.json
intelligent-text-extraction/train/annotations/0071032790.json
intelligent-text-extraction/train/annotations/0071032807.json
intelligent-text-extraction/train/annotations/71108371.json
intelligent-text-extraction/train/annotations/71190280.json
intelligent-text-extraction/train/annotations/71202511.json
intelligent-text-extraction/train/annotations/71206427.json
intelligent-text-extraction/train/annotations/71341634.json
intelligent-text-extraction/train/annotations/71366499.json
intelligent-text-extraction/train/annotations/71563825.json
intelligent-text-extraction/train/annotations/80310840a.json
intelligent-text-extraction/train/annotations/80707440_7443.json
intelligent-text-extraction/train/annotations/80728670.json
intelligent-text-extraction/train/annotations/81186212.json
intelligent-text-extraction/train/annotations/81310636.json
intelligent-text-extraction/train/annotations/81574683.json
intelligent-text-extraction/train/annotations/81619511_9513.json
intelligent-text-extraction/train/annotations/81749056_9057.json
intelligent-text-extraction/train/annotations/82254638.json
intelligent-text-extraction/train/annotations/87533049.json
intelligent-text-extraction/train/annotations/87672097.json
intelligent-text-extraction/train/annotations/87682908.json
intelligent-text-extraction/train/annotations/88057519.json
intelligent-text-extraction/train/annotations/88547278_88547279.json
intelligent-text-extraction/train/annotations/89368010.json
intelligent-text-extraction/train/annotations/89386032.json
intelligent-text-extraction/train/annotations/89867723.json
intelligent-text-extraction/train/annotations/91104867.json
intelligent-text-extraction/train/annotations/91161344_91161347.json
intelligent-text-extraction/train/annotations/91372360.json
intelligent-text-extraction/train/annotations/91391310.json
intelligent-text-extraction/train/annotations/91856041_6049.json
intelligent-text-extraction/train/annotations/91914407.json
intelligent-text-extraction/train/annotations/91939637.json
intelligent-text-extraction/train/annotations/91974562.json
intelligent-text-extraction/train/annotations/92039708_9710.json
intelligent-text-extraction/train/annotations/92091873.json
intelligent-text-extraction/train/annotations/92094746.json
intelligent-text-extraction/train/annotations/92094751.json
intelligent-text-extraction/train/annotations/92298125.json
intelligent-text-extraction/train/annotations/92314414.json
intelligent-text-extraction/train/annotations/92586242.json
intelligent-text-extraction/train/annotations/92657391.json
intelligent-text-extraction/train/annotations/93213298.json
intelligent-text-extraction/train/annotations/93329540.json
intelligent-text-extraction/train/annotations/93351929_93351931.json
intelligent-text-extraction/train/annotations/93380187.json
intelligent-text-extraction/train/annotations/93455715.json
intelligent-text-extraction/train/images/00040534.png
intelligent-text-extraction/train/images/00093726.png
intelligent-text-extraction/train/images/00283813.png
intelligent-text-extraction/train/images/660978.png
intelligent-text-extraction/train/images/716552.png
intelligent-text-extraction/train/images/00836244.png
intelligent-text-extraction/train/images/00836816.png
intelligent-text-extraction/train/images/00837285.png
intelligent-text-extraction/train/images/00838511_00838525.png
intelligent-text-extraction/train/images/00851772_1780.png
intelligent-text-extraction/train/images/00851879.png
intelligent-text-extraction/train/images/00860012_00860014.png
intelligent-text-extraction/train/images/00865872.png
intelligent-text-extraction/train/images/00866042.png
intelligent-text-extraction/train/images/00920222.png
intelligent-text-extraction/train/images/00920294.png
intelligent-text-extraction/train/images/00922237.png
intelligent-text-extraction/train/images/0000971160.png
intelligent-text-extraction/train/images/0000989556.png
intelligent-text-extraction/train/images/0000990274.png
intelligent-text-extraction/train/images/0000999294.png
intelligent-text-extraction/train/images/0001118259.png
intelligent-text-extraction/train/images/01122115.png
intelligent-text-extraction/train/images/0001129658.png
intelligent-text-extraction/train/images/01150773_01150774.png
intelligent-text-extraction/train/images/01197604.png
intelligent-text-extraction/train/images/0001209043.png
intelligent-text-extraction/train/images/0001239897.png
intelligent-text-extraction/train/images/01408099_01408101.png
intelligent-text-extraction/train/images/0001438955.png
intelligent-text-extraction/train/images/0001456787.png
intelligent-text-extraction/train/images/0001463282.png
intelligent-text-extraction/train/images/0001463448.png
intelligent-text-extraction/train/images/0001476912.png
intelligent-text-extraction/train/images/0001477983.png
intelligent-text-extraction/train/images/0011505151.png
intelligent-text-extraction/train/images/0011845203.png
intelligent-text-extraction/train/images/0011856542.png
intelligent-text-extraction/train/images/0011859695.png
intelligent-text-extraction/train/images/11875011.png
intelligent-text-extraction/train/images/0011899960.png
intelligent-text-extraction/train/images/0011906503.png
intelligent-text-extraction/train/images/0011973451.png
intelligent-text-extraction/train/images/0011976929.png
intelligent-text-extraction/train/images/0012178355.png
intelligent-text-extraction/train/images/0012199830.png
intelligent-text-extraction/train/images/0012529284.png
intelligent-text-extraction/train/images/0012529295.png
intelligent-text-extraction/train/images/0012602424.png
intelligent-text-extraction/train/images/12825369.png
intelligent-text-extraction/train/images/13149651.png
intelligent-text-extraction/train/images/0013255595.png
intelligent-text-extraction/train/images/0030031163.png
intelligent-text-extraction/train/images/0030041455.png
intelligent-text-extraction/train/images/0060000813.png
intelligent-text-extraction/train/images/0060025670.png
intelligent-text-extraction/train/images/0060029036.png
intelligent-text-extraction/train/images/0060036622.png
intelligent-text-extraction/train/images/0060068489.png
intelligent-text-extraction/train/images/0060077689.png
intelligent-text-extraction/train/images/0060091229.png
intelligent-text-extraction/train/images/0060136394.png
intelligent-text-extraction/train/images/0060165115.png
intelligent-text-extraction/train/images/0060173256.png
intelligent-text-extraction/train/images/0060207528.png
intelligent-text-extraction/train/images/0060214859.png
intelligent-text-extraction/train/images/0060255888.png
intelligent-text-extraction/train/images/0060262650.png
intelligent-text-extraction/train/images/0060270727.png
intelligent-text-extraction/train/images/0060302201.png
intelligent-text-extraction/train/images/0060308251.png
intelligent-text-extraction/train/images/0060308461.png
intelligent-text-extraction/train/images/0071032790.png
intelligent-text-extraction/train/images/0071032807.png
intelligent-text-extraction/train/images/71108371.png
intelligent-text-extraction/train/images/71190280.png
intelligent-text-extraction/train/images/71202511.png
intelligent-text-extraction/train/images/71206427.png
intelligent-text-extraction/train/images/71341634.png
intelligent-text-extraction/train/images/71366499.png
intelligent-text-extraction/train/images/71563825.png
intelligent-text-extraction/train/images/80310840a.png
intelligent-text-extraction/train/images/80707440_7443.png
intelligent-text-extraction/train/images/80728670.png
intelligent-text-extraction/train/images/81186212.png
intelligent-text-extraction/train/images/81310636.png
intelligent-text-extraction/train/images/81574683.png
intelligent-text-extraction/train/images/81619511_9513.png
intelligent-text-extraction/train/images/81749056_9057.png
intelligent-text-extraction/train/images/82254638.png
intelligent-text-extraction/train/images/87533049.png
intelligent-text-extraction/train/images/87672097.png
intelligent-text-extraction/train/images/87682908.png
intelligent-text-extraction/train/images/88057519.png
intelligent-text-extraction/train/images/88547278_88547279.png
intelligent-text-extraction/train/images/89368010.png
intelligent-text-extraction/train/images/89386032.png
intelligent-text-extraction/train/images/89867723.png
intelligent-text-extraction/train/images/91104867.png
intelligent-text-extraction/train/images/91161344_91161347.png
intelligent-text-extraction/train/images/91372360.png
intelligent-text-extraction/train/images/91391310.png
intelligent-text-extraction/train/images/91856041_6049.png
intelligent-text-extraction/train/images/91914407.png
intelligent-text-extraction/train/images/91939637.png
intelligent-text-extraction/train/images/91974562.png
intelligent-text-extraction/train/images/92039708_9710.png
intelligent-text-extraction/train/images/92091873.png
intelligent-text-extraction/train/images/92094746.png
intelligent-text-extraction/train/images/92094751.png
intelligent-text-extraction/train/images/92298125.png
intelligent-text-extraction/train/images/92314414.png
intelligent-text-extraction/train/images/92586242.png
intelligent-text-extraction/train/images/92657391.png
intelligent-text-extraction/train/images/93213298.png
intelligent-text-extraction/train/images/93329540.png
intelligent-text-extraction/train/images/93351929_93351931.png
intelligent-text-extraction/train/images/93380187.png
intelligent-text-extraction/train/images/93455715.png
.DS_Store
ground_truth_annotations/00040534.json
intelligent-text-extraction/.DS_Store
intelligent-text-extraction/train/.DS_Store
output_easyocr/00040534.json
